<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Classic Models</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/app/customer/customerApp.js"></script>

</head>

<body ng-app="customerModule" ng-controller="customerController" ng-cloack>

    <div class="container">

        <h1>Customers</h1>

        <table class="table table-striped">

            <thead class="thead-dark">
                <th>Nombre</th>
                <th>Contacto</th>
                <th>Teléfono</th>
                <th>Ciudad</th>
                <th>Estado</th>
                <th>País</th>
                <th>País2</th>
            </thead>

            <tbody>

                <tr ng-repeat="customer in customers">

                    <td>{{customer.customerName}}</td>
                    <td>{{customer.contactFirstName}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.city}}</td>
                    <td>{{customer.state}}</td>
                    <td>{{customer.country}}</td>
                    <td>{{customer.country}}</td>

                </tr>

            </tbody>
        </table>
        <button type="button" class="btn btn-primary">Primary</button>

        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>